.wrapper {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background: lightgreen;
}

.titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border: 1px solid black;
}

.title {
    margin-left: 40px;
}

.rating {}

.infoBlock {
    display: flex;
    border: 1px solid black;
    height: 66px;
}

.latency {
    flex: 1 1 auto;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    flex: 1 1 auto;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streaming {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
