.north-america {
    position: relative;
}

.north-america-text {
    position: absolute;
    font-size: 12px;
    left: -60px;
}

.north-america-small {
    position: absolute;
    top: 25px;
    left: 45px;
}
.north-america-medium {
    position: absolute;
    top: 60px;
    left: 3px;
}
.north-america-large {
    position: absolute;
    left: -35px;
    top: 40px;
}


.europe {
    position: relative;
}

.europe-text {
    width: 100px;
    position: absolute;
    font-size: 12px;
    left: 55px;
    top: 50px;
}

.europe-small {
    position: absolute;
    left: 25px;
    top: 35px
}

.europe-medium {
    position: absolute;
    left: -45px;
    top: 65px
}

.europe-large {
    position: absolute;
    left: 83px;
    top: 15px
}



.south-america { position: relative;}
.south-america-text {
    width: 100px;
    position: absolute;
    font-size: 12px;
    top: -20px;
}

.south-america-small {
    position: absolute;
    top: 25px;
    left: 55px;
}
.south-america-medium {
    position: absolute;
    top: 70px;
    left: 30px;
}
.south-america-large {
    position: absolute;
}

.asia { position: relative;}

.asia-text {
    width: 100px;
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: -30px;
}

.asia-small {
    position: absolute;
    top: 25px;
    left: 43px;
}
.asia-medium {
    position: absolute;
    top: 50px;
    left: -48px;
}
.asia-large {
    position: absolute;
    top: -20px;
    left: 85px;
}



.oceania {position: relative;}

.oceania-text {
    width: 100px;
    position: absolute;
    font-size: 12px;
    top: 65px;
    left: 40px;
}

.oceania-small {
    position: absolute;
    top: 40px;
    left: 60px;
}
.oceania-medium {
    position: absolute;
    top: 45px;
    left: -17px;
}
.oceania-large {
    position: absolute;
    top: 35px;
    left: 23px;
}

.close {
    display: none!important;
}

